fetch() returns empty body when Response has no Content-Length or Transfer-Encoding header

### What version of Bun is running?

1.0.9+98f20170a

### What platform is your computer?

Darwin 21.6.0 x86_64 i386

### What steps can reproduce the bug?


*fetchtest.js:*
```js
const path = (globalThis.Bun ?? process).argv[2] ?? '';
const res = await fetch(`http://127.0.0.1:8081${path}`);
const body = await res.text();
console.log(JSON.stringify(body));
```

*webserver.py:* (Sample Python3 http server that doesn't add any header automatically; couldn't manage to set it up in Bun)
```python
from http.server import BaseHTTPRequestHandler, HTTPServer

content = "Hello world"

class MyServer(BaseHTTPRequestHandler):
    def do_GET(self):
        self.send_response(200)
        self.send_header("Content-Type", "text/plain")
        if self.path == "/a":
            self.send_header("Transfer-Encoding", "chunked")
            self.end_headers()
            self.wfile.write(bytes("%x\r\n%s\r\n0\r\n\r\n" % (len(content), content), "utf-8"))
        elif self.path == "/b":
            self.send_header("Content-Length", str(len(bytes(content, "utf-8"))))
            self.end_headers()
            self.wfile.write(bytes(content, "utf-8"))
        else:
            self.end_headers()
            self.wfile.write(bytes(content, "utf-8"))

webserver = HTTPServer(("localhost", 8081), MyServer)
webserver.serve_forever()
```

To reproduce the failing case, start the webserver (`python3 webserver.py`) in a shell and then run `bun fetchtest.js` in another shell.


### What is the expected behavior?

The stdout output should be `"Hello world"` string in all cases.


### What do you see instead?

When the HTTP Response has no `Content-Length` header, and it is not chunked (has no `Transfer-Encoding: chunked` header), the stdout output is the empty string `""`.

### Additional information

The example programs can repro these 3 cases:
- `bun testfetch.mjs /a`: Content-Length header is set-> 🟢 works ok
- `bun testfetch.mjs /b`: content is chunked -> 🟢 works ok
- `bun testfetch.mjs`: neither header is set ->  🔴  body text is the empty string

The same program when run on NodeJS (`node testfetch.mjs`), prints the correct output in all the cases.

Another side effect of this bug seems to be that `await res.json()` wrongly returns `null` for the failing case when ran on Bun.

According to [RFC 7230 section 3.3.3](https://www.rfc-editor.org/rfc/rfc7230#section-3.3.3) the absence of `Content-Length` and `Content-Transfer` is a valid response under HTTP/1.1. The relevant paragraphs:
> "1. Any response ... with a 1xx (Informational), 204 (No Content), or 304 (Not Modified) status code is always terminated by the first empty line after the header fields, regardless of the header fields present in the message, and thus cannot contain a message body."
> "7. Otherwise, this is a response message without a declared message body length, so the message body length is determined by the number of octets received prior to the server closing the connection."
