quic protocoll

### What is the problem this feature would solve?

### Need for QUIC Protocol Support

QUIC is the official standard for HTTP/3 in browsers. Bun positions itself as a super-fast server but currently lacks out-of-the-box support for QUIC, which is a significant drawback.

Adding QUIC support will drastically improve response speed and enable instant loading of Single Page Applications (SPAs).



### What is the feature you are proposing to solve the problem?

Module based:
- https://github.com/shiguredo/quic-server-zig
- https://github.com/MarcoPolo/zig-msquic

### What alternatives have you considered?

Wrappers:
- https://github.com/litespeedtech/lsquic
- https://github.com/h2o/quicly
- https://github.com/microsoft/msquic
- https://github.com/ngtcp2/nghttp3

Specifications:

[RFC 8999](https://datatracker.ietf.org/doc/rfc8999/)
[RFC 9000](https://datatracker.ietf.org/doc/rfc9000/)
[RFC 9001](https://datatracker.ietf.org/doc/rfc9001/)
[RFC 9002](https://datatracker.ietf.org/doc/rfc9002/)

What is the progress? I saw uws dep exist in the repo which can be used to supprot QUIC.