Unexpected handling of duplicate headers in http server

### What version of Bun is running?

1.2.11+cb6abd211

### What platform is your computer?

Linux 6.1.0-31-amd64 x86_64 unknown

### What steps can reproduce the bug?

In Node.Js, duplicate header names in `http.createServer` based servers, the values are joined with a comma. Bun does not do this, and instead only keeps the last header value of the duplicates. This causes an incompatibility.

```js
import http from 'http';

const server = http.createServer((req, res) => {
  // Expected output (Node.js): Hello, World
  // Actual output (Bun): World
  console.log(req.headers['x-test']);
  res.writeHead(200);
  res.end('OK');
});

server.listen(8000, '0.0.0.0');
```

```http
GET / HTTP/1.1
Host: localhost:8000
X-Test: Hello
X-Test: World


```

### What is the expected behavior?

The expected behavior is to join the header values with `, `.

```shell
$ node ./poc.js
Hello, World
```

### What do you see instead?

Instead, with Bun, only the last header value is kept.

```shell
$ bun ./poc.js 
World
```

### Additional information

See Node.Js src: https://github.com/nodejs/node/blob/b673c697a75f440b9a8c60a28737acc9b01cebe7/lib/_http_incoming.js#L372-L380

> Per RFC2616, section 4.2 it is acceptable to join multiple instances of the
same header with a ', ' if the header in question supports specification of
multiple values this way. The one exception to this is the Cookie header,
which has multiple values joined with a '; ' instead. If a header's values
cannot be joined in either of these ways, we declare the first instance the
winner and drop the second. Extended header fields (those beginning with
'x-') are always joined.